.message{
    color: rgb(63, 63, 63);
    background: lightgrey;
    height: 30px;
    font-size: 20px;
    border-style: solid;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
 
}

.emptymessage{
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    height: 30px;
    font-size: 20px;
    border-style: solid;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}