.top-container {
  display: grid;
  grid-template-columns: auto auto;
}

.notification {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.notification-message {
  color: rgb(92, 184, 1);
}

.notification-error {
  color: rgb(255, 0, 0);
}
