h1 {
    color: green;
    font-style: italic;
}

.note {
    color:rgb(75, 74, 74);
    padding-top: 3px;
    font-size: 15px;
}

.error {
    color:red;
    background: rgb(255, 241, 223);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

button{
    color: white;
    background-color: rgb(70, 69, 69);
    border-radius: 5px;
    margin-left: 5px;
}